li {
    background-color: lightblue;
    border-style: solid;
    margin: auto;
    width: 65%;
    border: 3px solid green;
    padding: 10px;
  }
a {
    background-color: lightblue;
}
section {
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;   
}
header{
    background-color: lightblue;
    border-style: solid;
    margin: auto;
    width: 95%;
    border: 3px solid green;
    padding: 10px;  
    text-align: center;  
}
label {
    margin: auto;
    padding: 5px;     
}
input {
    margin: auto;
    padding: 5px;    
}